<td class="td1">
  <strong>
    {{match_start_at_day}}
  </strong>
  {{match_start_at_hours}}
</td>
<td class="td2">
  <strong>{{team_home_title}}</strong>
  – {{team_guest_title}}
</td>
<td class="td3">
  <a href="">
    <strong>{{match_count_home}}</strong>
    : {{match_count_guest}}
  </a>
</td>