<li>
  {{#goals}}
    <img src='/ball.png'>
  {{/goals}}
  {{#cards}}
    {{#red}}
      <img src='/red_card.png'>
    {{/red}}
    {{#yellow}}
      <img src='/yellow_card.png'>
    {{/yellow}}
  {{/cards}}
  {{#number}}{{number}}.{{/number}} {{last_name}}
</li>