/ %h2 Новая группа для "#{@league.title}"
=render 'subnav'
.subnav
  .navbar.navbar-default
    .navbar-inner
      %ul.nav.navbar-nav
        %li
          %a{href: backend_leagues_group_path(@leagues_group)} 
            %span.glyphicon.glyphicon-th-list
            = t 'actions.index'
=render 'form'