<td class="td1">{{index}}</td>
<td class="td2">{{team_title}}</td>
<td class="td3">{{sum_matches}}</td>
<td class="td4">{{sum_matches_win}}</td>
<td class="td5">{{sum_matches_draw}}</td>
<td class="td6">{{sum_matches_fail}}</td>
<td class="td7">{{sum_goals_win}} / {{sum_goals_fail}}</td>
<td class="td8">{{sum_points}}</td>