<h3>РФПЛ Турнирная таблица</h3>

<div class="fll pad">
  <table>
    <thead>
      <tr class="even">
        <th class="td1">Mесто</th>
        <th class="td2">Команда</th>
        <th class="td3">Mатчей</th>
        <th class="td4">Bыиграно</th>
        <th class="td5">Hичьи</th>
        <th class="td6">Проиграно</th>
        <th class="td7">Забито / Пропущено</th>
        <th class="td8">Oчки</th>
      </tr>
    </thead>
    <tbody>
      
    </tbody>
  </table>
</div>

<div class="clear"></div>