= render 'backend/shared/blocks/subnav', model: 'tweets'
= render 'backend/shared/blocks/filter', model: :tweets
- if @tweets && @tweets.length > 0
  %table.table.table-condensed.table-striped
    %thead
      %tr
        %th #
        %th От кого
        %th Твит
        %th Дата публикации
        %th.centered
          %span.glyphicon.glyphicon-eye-open
        %th
    %tbody=render @tweets
  .help-block
    %small
      %span.label.label-default &nbsp;&nbsp;&nbsp;
      Не опубликовано
    = will_paginate(@tweets, renderer: BootstrapPagination::Rails)
- else
  = render 'backend/shared/no_results_message'