$('.user_comments').append("#{j render partial: 'users/comment', collection: @comments}");
-if @comments.next_page
  $('.pagination').replaceWith("#{j will_paginate(@comments)}");
  $('.pagination').hide()
-else
  $('.pagination').remove();
  $('.more').remove();