%section.translations.side_pad
  %h3.side_title
      %strong ОНЛАЙН ТРАНСЛЯЦИИ
    %article
      %h3 
        Чемпионат мира 2014
        %span /  сейчас
      .side.side1.leader
        =image_tag 'flag38_22_01.png', height: 22, width: 38, alt: ''
        %p Россия
      .match_pad.football
        %p.side1_count 1
        %p.side2_count 0
        %p.view_match=link_to 'смотреть', '#'
      .side.side2
        =image_tag 'flag38_22_02.png', height: 22, width: 38, alt: ''
        %p Португалия
      .clr
    %article.even
      %h3
        Чемпионат мира 2014
        %span /  сейчас
      .side.side1.leader
        =image_tag 'flag38_22_01.png', height: 22, width: 38, alt: ''
        %p Россия
      .match_pad.basketball
        %p.side1_count 1
        %p.side2_count 0
        %p.view_match=link_to 'смотреть', '#'
      .side.side2
        =image_tag 'flag38_22_02.png', height: 22, width: 38, alt: ''
        %p Португалия
      .clr