- column_render = get_render_column_element
%section.news_list
  - @photos_videos.each_with_index do |video, index|
    - column_render.call index do |partial|
      = render partial, popular_posts: @popular_posts, columnists_posts: @columnists_posts
    =render(partial: 'videos/video', layout: false, locals: {video: video.feedable})