-title = params[:tag].presence || Setting.site_name || 'Актуальные спортивные новости России и мира.'
= content_for :title do
  =title
%section.search_pad
  -if @leagues_groups.present?
    .search_pad_wr
      .brasil-image
      -leagues_groups_title_for_slider
      =render 'shared/search_form'
=render 'shared/group_slider', leagues_groups: @leagues_groups if @leagues_groups.present?
-if @played_matches && @played_matches.count > 0
  %section.calendar.only-slider
    =render 'shared/played_matches'
/ %section.match_car=render 'shared/carousel/carousel', matches: @matches if @matches.present?
%section.lc
  =render 'shared/last_four_posts', post: @last_post, last_four_posts: @last_four_posts if @last_post && @last_four_posts
-unless params[:tag].present?
  =render partial: 'shared/aside/banner' if Setting.show_sidebar_banner?
  =render partial: 'shared/aside/match_live', locals: {match: @match} if Setting.show_match_live?
=render partial: 'shared/news_list', locals: {posts: @posts}
.clr
=render 'shared/infinite_button', content: @posts
- if Rails.env.test?
  .posts-for-specs