%section.player_career
  %h3.clrd_bg КАРЬЕРА
  .tags_list
    %ul
      %li.active
        %a{href: ""} Чемпионат
      %li
        %a{href: ""} Национальные кубки
      %li
        %a{href: ""} Еврокубки
      %li
        %a{href: ""} Сборные
  .table_wr
    %table
      %thead
        %tr
          %th.td1 Сезон
          %th.td2 Команда
          %th.td3 Турнир
          %th.td4 М
          %th.td5 Г
          %th.td6 П
          %th.td7 Г+П
          %th.td8 ЖК
          %th.td9 КК
      %tbody
        %tr
          %td.td1 2013/2014
          %td.td2 Зенит
          %td.td3 Россия.Премьер-лига
          %td.td4 10
          %td.td5 4
          %td.td6 2
          %td.td7 6
          %td.td8 1
          %td.td9 0
        %tr
          %td.td1 2013/2014
          %td.td2 Зенит
          %td.td3 Россия.Премьер-лига
          %td.td4 10
          %td.td5 4
          %td.td6 2
          %td.td7 6
          %td.td8 1
          %td.td9 0
        %tr
          %td.td1 2013/2014
          %td.td2 Зенит
          %td.td3 Россия.Премьер-лига
          %td.td4 10
          %td.td5 4
          %td.td6 2
          %td.td7 6
          %td.td8 1
          %td.td9 0
        %tr
          %td.td1 2013/2014
          %td.td2 Зенит
          %td.td3 Россия.Премьер-лига
          %td.td4 10
          %td.td5 4
          %td.td6 2
          %td.td7 6
          %td.td8 1
          %td.td9 0
        %tr
          %td.td1 2013/2014
          %td.td2 Зенит
          %td.td3 Россия.Премьер-лига
          %td.td4 10
          %td.td5 4
          %td.td6 2
          %td.td7 6
          %td.td8 1
          %td.td9 0
        %tr
          %td.td1 2013/2014
          %td.td2 Зенит
          %td.td3 Россия.Премьер-лига
          %td.td4 10
          %td.td5 4
          %td.td6 2
          %td.td7 6
          %td.td8 1
          %td.td9 0
        %tr
          %td.td1 2013/2014
          %td.td2 Зенит
          %td.td3 Россия.Премьер-лига
          %td.td4 10
          %td.td5 4
          %td.td6 2
          %td.td7 6
          %td.td8 1
          %td.td9 0
        %tr
          %td.td1 2013/2014
          %td.td2 Зенит
          %td.td3 Россия.Премьер-лига
          %td.td4 10
          %td.td5 4
          %td.td6 2
          %td.td7 6
          %td.td8 1
          %td.td9 0
        %tr
          %td.td1 2013/2014
          %td.td2 Зенит
          %td.td3 Россия.Премьер-лига
          %td.td4 10
          %td.td5 4
          %td.td6 2
          %td.td7 6
          %td.td8 1
          %td.td9 0
        %tr.sum_line
          %td.td1{colspan: "3"} Всего:
          %td.td4 155
          %td.td5 72
          %td.td6 73
          %td.td7 95
          %td.td8 20
          %td.td9 0