.soc_pad
  #vk_like
  .fb-like{data: {action: "recommend", layout: "button", share: "false", show: {faces: "true"}}}
  .tw-link
    =link_to 'Твитнуть', "https://twitter.com/share", class: "twitter-share-button", data: { lang:"ru" }
  .clr
  #fb-root
=content_for :scripts do
  :javascript
    VK.Widgets.Like("vk_like", {type: "button", height: 20, width: 105});
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ru_RU/all.js#xfbml=1&appId=1398473957098554";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    
    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');