<a class="match_pad" href="" style="z-index: 9;">
  <span class="event_date">
    <span class="day">{{weekday}}</span>
    {{day}}
  </span>
  <span class="players">
    <span class="player">
      <span class="name">
        <strong>{{team_home_title}}</strong>
      </span>
      <span class="count">
        <strong>{{match_count_home}}</strong>
      </span>
    </span>
    <span class="player">
      <span class="name">{{team_guest_title}}</span>
      <span class="count">{{match_count_guest}}</span>
    </span>
  </span>
  <span class="clr"></span>
</a>