%br
.row
  .col-md-6
    .form-group
      = f.label :title
      = f.text_field :title, class: 'form-control', maxlength: 255
    .form-group
      = f.label :league_year
      = f.text_field :league_year, class: 'form-control', maxlength: 255