#slider
  .slide
    =image_tag 'matches/slide-image.png'
    %h3.title 28’ Фол против Рибери
  .slide
    =image_tag 'matches/slide-image.png'
    %h3.title 28’ Фол против Рибери
  .slide
    =image_tag 'matches/slide-image.png'
    %h3.title 28’ Фол против Рибери