ul.notice-bar {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  padding: 10px;
  z-index: 10041;
  li {
    list-style: none;
    padding: 0 0 3px 0;
    text-align: center;
    font-size: 18px;
  }
}

ul.notice-bar.error{
  color: #FFF;
  background-color: #9f0000;
  border-color: #EED3D7;
}

ul.notice-bar.notice{
  color: #FFF;
  background-color: green;
  border-color: #D6E9C6;
}


#error_explanation {
  margin: 0 0 20px 0;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
  padding: 10px 10px 10px 10px;
  h2 {
    margin: 10px;
    font-weight: normal; }
  ul {
    margin: 0 0 0 10px;
    color: #555; } }

.debug_console {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: 10000;
  font-size: 11px;
  padding: 5px 20px 10px 50px;
  background: #FFF; }





// tem flsh errors
.errors{
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  z-index: 10041;
  .alert{
    text-align: center;
    font-size: 17px;
    padding: 10px;
    color: #FFF;
    background-color: #9f0000;
    border-color: #EED3D7;
  }
  .notice{
    text-align: center;
    font-size: 17px;
    padding: 10px;
    color: #FFF;
    background-color: green;
    border-color: #D6E9C6;
  }
}