.match_list{
  margin: 0 0 15px;
  // min-height: 206px;
  overflow: hidden;

  .match_pad{
    float: left;
    background: #f8f8f8;
    margin-right: 12px;
    margin-bottom: 12px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.11);
  }

  .event_date{
    width: 44px;
    padding: {
      right: 9px;
      top: 10px;
    }
    font: {
      size: 12px;
      family: 'PT Sans', sans-serif;
    }
    line-height: 16px;
    .day{
      position:static;
      font-size: 18px;
      line-height: 20px;
    }
  }

  .players{
    width:119px;
    padding: {
      top: 9px;
      right: 16px;
      bottom: 9px;
    }
  }

  .player{
    margin:0;
    line-height:18px;
    font-size:14px;
    color:#610000;
    height:18px;
  }

  .tags_list{
    padding: {
      top: 10px;
      bottom: 13px;
    }
    position:relative;
    z-index:20;
    box-shadow:2px 2px 5px rgba(0,0,0,0.11);

    li{
      display:inline;
      margin-right:38px;
      line-height:25px;
    }
    a{
      text-decoration:none;
      color:#cccccc;
      font-size:16px;
      text-transform:uppercase;
    }

    .active a, a:hover{
      font-weight:bold;
      color:#fff;
    }
  }
}
