.tournaiments_list2{
  padding:0 0 37px;
  margin:0 0 8px;
  min-height: 500px;

  table{
    color:#333;
    width:100%;
    border-collapse:collapse;
    color:#000;
    th{
      color:#fff;
      background:#ae0000;
      line-height:20px;
      text-align:left;
      padding:0 12px 2px;
      vertical-align:middle;
    }

    td{
      border-left:1px solid #dcdcdc;
      padding:0 0 3px;
      &:first-child{
        border-left:none;
      }
    }
  }

  .pad{
    margin: 0 0 0px;
    width: 440px;
    background: #fff;
    position: relative;
    padding: 11px 10px;
    
    @include box-shadow(2px 2px 5px rgba(199, 199, 199, 0.3));

    &:nth-child(1n){
      float: left;
    }
    &:nth-child(2n){
      float: right;
      margin-right: 12px;
    }
  }

  .even td{
    background:#f1f1f1;
  }

  .td1{
    padding-left:11px;
    width:88px;
  }

  .td2{
    padding-left:14px;
    width:246px;
  }

  .td3{
    width:83px;
    text-align:center;
  }

  a{
    color:#333;
  }
}