!!!
%html
  %head
    %meta{charset: "utf-8"}
      %title Untitled Document
      %link{:href => "http://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=latin,cyrillic", rel: "stylesheet", type: "text/css"}
        %link{href: "http://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,cyrillic", rel: "stylesheet", type: "text/css"}
          %link{href: "http://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700&subset=latin,cyrillic", rel: "stylesheet", type: "text/css"}
            %link{href: "http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700&subset=latin,cyrillic", rel: "stylesheet", type: "text/css"}
              %link{href: "images/Favicon.png", rel: "icon", type: "image/png"}/
              %link{:href => "css/jquery-ui-1.10.0.custom.css", rel: "stylesheet", type: "text/css"}/
              %link{:href => "css/jcarousel.css", :rel => "stylesheet", :type => "text/css"}/
              %link{:href => "css/jquery.jscrollpane.css", :rel => "stylesheet", :type => "text/css"}/
              %link{:href => "css/jquery.selectBox.css", :rel => "stylesheet", :type => "text/css"}/
              %link{:href => "css/style.css", :rel => "stylesheet"}/
              %script{:src => "js/jquery-1.9.0.min.js"}
              %script{:src => "js/jquery-ui-1.10.0.custom.min.js"}
              %script{:src => "js/jquery.jscrollpane.min.js"}
              %script{:src => "js/jquery.jcarousel.min.js"}
              %script{:src => "js/jquery.jcarousel-autoscroll.min.js"}
              %script{:src => "js/jquery.selectBox.min.js"}
              %script{:src => "js/site.js"}
              /[if lt IE 9]
                <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  %body
    .wrapper
      %header
        .wrap
          %a.logo{:href => ""}
            %img{:alt => "", :height => "33", :src => "images/logo.png", :width => "300"}/
          %ul.hd_links
            %li
              %a.reg{:href => ""} РЕГИСТРАЦИЯ
            %li
              %a.login{:href => ""} ВОЙТИ
          %nav
            %ul#menu_top
              %li
                %a{:href => "#"} ГЛАВНАЯ
                %ul
                  %li
                    %a{:href => "#"} РФПЛ
                  %li
                    %a{:href => "#"} Чемпионат мира 2014
                  %li
                    %a{:href => "#"} Чемпионат Европы 2016
                  %li
                    %a{:href => "#"} Лига чемпионов
                  %li
                    %a{:href => "#"} Лига Европы
                  %li
                    %a{:href => "#"} Кубок России
                  %li
                    %a{:href => "#"} Англия
                  %li
                    %a{:href => "#"} Испания
                  %li
                    %a{:href => "#"} Франция
                  %li
                    %a{:href => "#"} Италия
                  %li
                    %a{:href => "#"} Германия
                  %li
                    %a{:href => "#"} Интерфутбол
              %li.active
                %a{:href => "#"} ФУТБОЛ
                %ul
                  %li
                    %a{:href => "#"} РФПЛ
                  %li
                    %a{:href => "#"} Чемпионат мира 2014
                  %li
                    %a{:href => "#"} Чемпионат Европы 2016
                  %li
                    %a{:href => "#"} Лига чемпионов
                  %li
                    %a{:href => "#"} Лига Европы
                  %li
                    %a{:href => "#"} Кубок России
                  %li
                    %a{:href => "#"} Англия
                  %li
                    %a{:href => "#"} Испания
                  %li
                    %a{:href => "#"} Франция
                  %li
                    %a{:href => "#"} Италия
                  %li
                    %a{:href => "#"} Германия
                  %li
                    %a{:href => "#"} Интерфутбол
              %li
                %a{:href => "#"} ХОККЕЙ
              %li
                %a{:href => "#"} БАСКЕТБОЛ
              %li
                %a{:href => "#"} ТЕННИС
              %li
                %a{:href => "#"} БОКС
              %li
                %a{:href => "#"} ЕДИНОБОРСТВА
              %li
                %a{:href => "#"} АВТО/МОТО
              %li
                %a{:href => "#"} ДРУГИЕ
          %p.time_pad.bg_grad
            %span.date_val 3 ОКТЯБРЯ 2013
            %span.day_val ЧЕТВЕРГ
            %span.time_val 11:05
      .content
        .wrap
          %a#up_btn{:href => ""}
          %section.top_news.bg_grad
            .top_news_list
              %a.item{:href => ""}
                %img{:alt => "", :height => "147", :src => "images/img11.jpg", :width => "194"}
                  %span.inf_pad
                    %span.txt1 БАВАРИЯ НА КОНЕ
                    %span.txt2 Возвращение Касильяса
              %a.item{:href => ""}
                %img{:alt => "", :height => "147", :src => "images/img12.jpg", :width => "194"}
                  %span.inf_pad
                    %span.txt1 КОШМАР СПАРТАКА
                    %span.txt2 Возвращение Касильяса
              %a.item{:href => ""}
                %img{:alt => "", :height => "147", :src => "images/img11.jpg", :width => "194"}
                  %span.inf_pad
                    %span.txt1 БАВАРИЯ НА КОНЕ
                    %span.txt2 Возвращение Касильяса
              %a.item{:href => ""}
                %img{:alt => "", :height => "147", :src => "images/img12.jpg", :width => "194"}
                  %span.inf_pad
                    %span.txt1 КОШМАР СПАРТАКА
                    %span.txt2 Возвращение Касильяса
              %a.item{:href => ""}
                %img{:alt => "", :height => "147", :src => "images/img11.jpg", :width => "194"}
                  %span.inf_pad
                    %span.txt1 БАВАРИЯ НА КОНЕ
                    %span.txt2 Возвращение Касильяса
              .clr
            %ul.tags_list
              %li.active
                %a{:href => ""} НОВОСТИ
              %li
                %a{:href => ""} Фото и видео
              %li
                %a{:href => ""} Трансляции
              %li
                %a{:href => ""} Календарь
              %li
                %a{:href => ""} Трансферы
          %section.search_pad
            .search_pad_wr
              %ul.tags_list
                %li.active
                  %a{:href => ""} РЕЗУЛЬТАТЫ
                %li
                  %a{:href => ""} СЕЙЧАС
                %li
                  %a{:href => ""} СКОРО
                %li
                  %a{:href => ""} ТУРНИРНАЯ ТАБЛИЦА
              %form.search_form{:action => ""}
                %input{:type => "text", :value => ""}
                  %input{:type => "submit", :value => ""}
              .clr
          %section.match_car
            .jcarousel-skin-default
              #jcarousel.jcarousel
                %ul
                  %li
                    %a.match_pad{:href => ""}
                      %span.event_date.football 4.10
                      %span.players
                        %span.player
                          %img{:alt => "", :height => "22", :src => "images/flag38_22_01.png", :width => "38"}
                            %span.name Англия
                            %span.count
                              %strong 2
                        %span.player
                          %img{:alt => "", :height => "22", :src => "images/flag38_22_02.png", :width => "38"}
                            %span.name Бразилия
                            %span.count 1
                      %span.clr
                  %li
                    %a.match_pad{:href => ""}
                      %span.event_date.basketball 4.10
                      %span.players
                        %span.player
                          %img{:alt => "", :height => "22", :src => "images/flag38_22_01.png", :width => "38"}
                            %span.name Англия
                            %span.count
                              %strong 2
                        %span.player
                          %img{:alt => "", :height => "22", :src => "images/flag38_22_02.png", :width => "38"}
                            %span.name Бразилия
                            %span.count 1
                      %span.clr
                  %li
                    %a.match_pad{:href => ""}
                      %span.event_date.hockey 4.10
                      %span.players
                        %span.player
                          %img{:alt => "", :height => "22", :src => "images/flag38_22_01.png", :width => "38"}
                            %span.name Англия
                            %span.count
                              %strong 2
                        %span.player
                          %img{:alt => "", :height => "22", :src => "images/flag38_22_02.png", :width => "38"}
                            %span.name Бразилия
                            %span.count 1
                      %span.clr
                  %li
                    %a.match_pad{:href => ""}
                      %span.event_date.football 4.10
                      %span.players
                        %span.player
                          %img{:alt => "", :height => "22", :src => "images/flag38_22_01.png", :width => "38"}
                            %span.name Англия
                            %span.count
                              %strong 2
                        %span.player
                          %img{:alt => "", :height => "22", :src => "images/flag38_22_02.png", :width => "38"}
                            %span.name Бразилия
                            %span.count 1
                      %span.clr
                  %li
                    %a.match_pad{:href => ""}
                      %span.event_date.basketball 4.10
                      %span.players
                        %span.player
                          %img{:alt => "", :height => "22", :src => "images/flag38_22_01.png", :width => "38"}
                            %span.name Англия
                            %span.count
                              %strong 2
                        %span.player
                          %img{:alt => "", :height => "22", :src => "images/flag38_22_02.png", :width => "38"}
                            %span.name Бразилия
                            %span.count 1
                      %span.clr
                  %li
                    %a.match_pad{:href => ""}
                      %span.event_date.hockey 4.10
                      %span.players
                        %span.player
                          %img{:alt => "", :height => "22", :src => "images/flag38_22_01.png", :width => "38"}
                            %span.name Англия
                            %span.count
                              %strong 2
                        %span.player
                          %img{:alt => "", :height => "22", :src => "images/flag38_22_02.png", :width => "38"}
                            %span.name Бразилия
                            %span.count 1
                      %span.clr
              %a.car_btn.lbtn{:href => "#", :onclick => "$(this).parent().children('.jcarousel').jcarousel('scroll', '-=1'); return false;"}
              %a.car_btn.rbtn{:href => "#", :onclick => "$(this).parent().children('.jcarousel').jcarousel('scroll', '+=1'); return false;"}
          %section.lc
            %article.big_post
              %a.img{:href => ""}
                %img{:alt => "", :height => "345", :src => "images/img01.jpg", :width => "620"}/
              .post_inf
                %p.fll
                  %a.tag{:href => ""} Лига Европы
                  \/
                  %time{:datetime => "2013-09-10T19:15-08:00", :pubdate => ""} 23.08.2013
                %p.post_inf_values
                  %span.views_num 8
                  %span.comnts_num 27
              %h3
                %a{:href => ""} "Бавария" забьет ЦСКА два или три мяча в матче ЛЧ
              %p Иностранные букмекеры считают наиболее вероятным счетом матча между мюнхенской "Баварией" и московским ЦСКА в футбольной Лиге чемпионов победу немецкого клуба2.0 или 3.0
            %section.news_list
              .col.fll
                %article
                  .post_inf
                    %p.p1 Лига чемпионов
                    %time{:datetime => "2013-09-10T19:15-08:00", :pubdate => ""} /  16.09
                    %p.post_inf_values
                      %span.views_num 8
                      %span.comnts_num 27
                  %a.img{:href => ""}
                    %img{:alt => "", :height => "200", :src => "images/img02.jpg", :width => "300"}
                      %span.photo_pic
                  %h3
                    %a{:href => ""} Чемпионат Испании важнее для "Барселоны", чем Лига чемпионов
                  %p Защитник "Барселоны" Жерар Пике заявил, что для его команды приоритетом является победа в чемпионате
                %article
                  .post_inf
                    %p.p1 Лига чемпионов
                    %time{:datetime => "2013-09-10T19:15-08:00", :pubdate => ""} /  16.09
                    %p.post_inf_values
                      %span.views_num 8
                      %span.comnts_num 27
                  %a.img{:href => ""}
                    %img{:alt => "", :height => "200", :src => "images/img03.jpg", :width => "300"}/
                  %h3
                    %a{:href => ""} Чемпионат Испании важнее для "Барселоны", чем Лига чемпионов
                  %p Защитник "Барселоны" Жерар Пике заявил, что для его команды приоритетом является победа в чемпионате
                %article
                  .post_inf
                    %p.p1 Лига чемпионов
                    %time{:datetime => "2013-09-10T19:15-08:00", :pubdate => ""} /  16.09
                    %p.post_inf_values
                      %span.views_num 8
                      %span.comnts_num 27
                  %a.img{:href => ""}
                    %img{:alt => "", :height => "200", :src => "images/img02.jpg", :width => "300"}/
                  %h3
                    %a{:href => ""} Чемпионат Испании важнее для "Барселоны", чем Лига чемпионов
                  %p Защитник "Барселоны" Жерар Пике заявил, что для его команды приоритетом является победа в чемпионате
              .col.flr
                %article
                  .post_inf
                    %p.p1 Лига чемпионов
                    %time{:datetime => "2013-09-10T19:15-08:00", :pubdate => ""} /  16.09
                    %p.post_inf_values
                      %span.views_num 8
                      %span.comnts_num 27
                  %h3
                    %a{:href => ""} Чемпионат Испании важнее для "Барселоны", чем Лига чемпионов
                  %p Защитник "Барселоны" Жерар Пике заявил, что для его команды приоритетом является победа в чемпионате
                %article
                  .post_inf
                    %p.p1 Лига чемпионов
                    %time{:datetime => "2013-09-10T19:15-08:00", :pubdate => ""} /  16.09
                    %p.post_inf_values
                      %span.views_num 8
                      %span.comnts_num 27
                  %a.img{:href => ""}
                    %img{:alt => "", :height => "200", :src => "images/img02.jpg", :width => "300"}/
                  %h3
                    %a{:href => ""} Чемпионат Испании важнее для "Барселоны", чем Лига чемпионов
                  %p Защитник "Барселоны" Жерар Пике заявил, что для его команды приоритетом является победа в чемпионате
                %article
                  .post_inf
                    %p.p1 Лига чемпионов
                    %time{:datetime => "2013-09-10T19:15-08:00", :pubdate => ""} /  16.09
                    %p.post_inf_values
                      %span.views_num 8
                      %span.comnts_num 27
                  %a.img{:href => ""}
                    %img{:alt => "", :height => "200", :src => "images/img03.jpg", :width => "300"}
                      %span.video_pic
                  %h3
                    %a{:href => ""} Чемпионат Испании важнее для "Барселоны", чем Лига чемпионов
                  %p Защитник "Барселоны" Жерар Пике заявил, что для его команды приоритетом является победа в чемпионате
                %article
                  .post_inf
                    %p.p1 Лига чемпионов
                    %time{:datetime => "2013-09-10T19:15-08:00", :pubdate => ""} /  16.09
                    %p.post_inf_values
                      %span.views_num 8
                      %span.comnts_num 27
                  %h3
                    %a{:href => ""} Чемпионат Испании важнее для "Барселоны", чем Лига чемпионов
                  %p
                    Новичок ЦСКА бразильский футболист Витиньо заявил, что одной из причин перехода в московский клуб стал отказ руководства "Ботафого" повысить ему зарплату.
                    Витиньо в начале сентября перешел из "Ботафого" в ЦСКА, подписав с армейским клубом пятилетний контракт.
              .anim_loader
              .clr
          %aside.rc
            .banner
              %a{:href => ""}
                %img{:alt => "", :height => "498", :src => "images/banner01.jpg", :width => "298"}/
            %section.side_news.side_pad
              %h3.side_title
                %strong ГЛАВНЫЕ
                НОВОСТИ
              %ul.tags_list
                %li.active
                  %a{:href => ""} СВЕЖИЕ
                %li
                  %a{:href => ""} ПОПУЛЯРНЫЕ
                %li
                  %a{:href => ""} ОБСУЖДАЕМЫЕ
              %ul.list
                %li
                  %a{:href => ""}
                    %span.time 10:30
                    %span.txt Приднестровье создало Стабфонд за счет российского газа
                %li
                  %a{:href => ""}
                    %span.time 10:30
                    %span.txt Приднестровье создало Стабфонд за счет российского газа
                %li
                  %a{:href => ""}
                    %span.time 10:30
                    %span.txt Дамаск передал Москве свиде  тельств а причастности боевиков к
                %li
                  %a{:href => ""}
                    %span.time 10:30
                    %span.txt Приднестровье создало Стабфонд за счет российского газа
                %li
                  %a{:href => ""}
                    %span.time 10:30
                    %span.txt Приднестровье создало Стабфонд за счет российского газа
                %li
                  %a{:href => ""}
                    %span.time 10:30
                    %span.txt Дамаск передал Москве свиде  тельств а причастности боевиков к
                %li
                  %a{:href => ""}
                    %span.time 10:30
                    %span.txt Приднестровье создало Стабфонд за счет российского газа
            %section.translations.side_pad
              %h3.side_title
                %strong ОНЛАЙН
                ТРАНСЛЯЦИИ
              %article
                %h3
                  Чемпионат мира 2014
                  %span /  сейчас
                .side.side1.leader
                  %img{:alt => "", :height => "22", :src => "images/flag38_22_01.png", :width => "38"}
                    %p Россия
                .match_pad.football
                  %p.side1_count 1
                  %p.side2_count 0
                  %p.view_match
                    %a{:href => ""} смотреть
                .side.side2
                  %img{:alt => "", :height => "22", :src => "images/flag38_22_02.png", :width => "38"}
                    %p Португалия
                .clr
              %article.even
                %h3
                  Чемпионат мира 2014
                  %span /  сейчас
                .side.side1.leader
                  %img{:alt => "", :height => "22", :src => "images/flag38_22_01.png", :width => "38"}
                    %p Россия
                .match_pad.basketball
                  %p.side1_count 1
                  %p.side2_count 0
                  %p.view_match
                    %a{:href => ""} смотреть
                .side.side2
                  %img{:alt => "", :height => "22", :src => "images/flag38_22_02.png", :width => "38"}
                    %p Португалия
                .clr
              %article
                %h3
                  Чемпионат мира 2014
                  %span /  сейчас
                .side.side1
                  %img{:alt => "", :height => "22", :src => "images/flag38_22_01.png", :width => "38"}
                    %p Россия
                .match_pad.tennis
                  %p.side1_count 1
                  %p.side2_count 2
                  %p.view_match
                    %a{:href => ""} смотреть
                .side.side2.leader
                  %img{:alt => "", :height => "22", :src => "images/flag38_22_02.png", :width => "38"}
                    %p Португалия
                .clr
            %section.accordion.soc_pad
              %div
                %h3.fc Facebook
                .box
                  %img{:alt => "", :height => "253", :src => "images/soc_img01.jpg", :width => "300"}
              %div
                %h3.vk Вконтакте
                .box
                  %img{:alt => "", :height => "253", :src => "images/soc_img01.jpg", :width => "300"}
              %div
                %h3.inst Instagram
                .box
                  %img{:alt => "", :height => "253", :src => "images/soc_img01.jpg", :width => "300"}
              %div
                %h3.twtr Twitter
                .box
                  %img{:alt => "", :height => "253", :src => "images/soc_img01.jpg", :width => "300"}
          .clr
      %footer
        .wrap
          .ft_pad
            .soc_links
              %p
              %ul
                %li
                  %a{:href => ""}
                    %img{:alt => "", :height => "25", :src => "images/soc01.png", :width => "25"}/
                %li
                  %a{:href => ""}
                    %img{:alt => "", :height => "25", :src => "images/soc02.png", :width => "25"}/
                %li
                  %a{:href => ""}
                    %img{:alt => "", :height => "25", :src => "images/soc03.png", :width => "25"}/
                %li
                  %a{:href => ""}
                    %img{:alt => "", :height => "25", :src => "images/soc04.png", :width => "25"}/
                %li
                  %a{:href => ""}
                    %img{:alt => "", :height => "25", :src => "images/soc05.png", :width => "25"}/
            %ul.ft_menu
              %li
                %a{:href => ""} О SPORTCUP.RU
              %li
                %a{:href => ""} РЕДАКЦИЯ
              %li
                %a{:href => ""} КОНТАКТЫ
              %li
                %a{:href => ""} ВАКАНСИИ
              %li
                %a{:href => ""} РЕКЛАМА
              %li
                %a{:href => ""} ПРЕДЛОЖЕНИЯ
              %li
                %a{:href => ""} ОПЕЧАТКА?
            .clr
          .seo_text
            %p © 2013 Sportscup.ru . Ежедневное интернет-издание о спорте.Использование материалов Sportcup.ru разрешено только с согласия правообладателей. Все права на фото и тексты в новостных разделах принадлежат их авторам.Сайт может содержать контент, не предназначенный для лиц младше 14-ти лет.
          .counters_pad
            .counter
              %img{:alt => "", :height => "30", :src => "images/counte01.jpg", :width => "84"}/
            .counter
              %img{:alt => "", :height => "30", :src => "images/counte02.jpg", :width => "84"}/
          %p.web_dev
            Разработка сайта
            %a{:href => ""} Webdeveloper
          .clr