%ul
  -if user_signed_in?
    -if current_user.provider == 'twitter'
      %li
        =link_to user_omniauth_authorize_path(:twitter), class: 'btn-social btn-twitter' do
          %span.fa.fa-twitter

    -if current_user.provider == 'facebook'
      %li
        =link_to user_omniauth_authorize_path(:facebook), class: 'btn-social btn-facebook' do
          %span.fa.fa-facebook

    -if current_user.provider == 'vkontakte'
      %li
        =link_to user_omniauth_authorize_path(:vkontakte), class: 'btn-social btn-vk' do
          %span.fa.fa-vk
  -else
    %li
      =link_to user_omniauth_authorize_path(:twitter), class: 'btn-social btn-twitter' do
        %span.fa.fa-twitter
    %li
      =link_to user_omniauth_authorize_path(:facebook), class: 'btn-social btn-facebook' do
        %span.fa.fa-facebook
    %li
      =link_to user_omniauth_authorize_path(:vkontakte), class: 'btn-social btn-vk' do
        %span.fa.fa-vk