%section.search_pad.nobg
  .search_pad_wr
    =render 'transfer_filter'
    .clr
=render 'club_list', teams: @teams
=render 'transfer_pad', transferes_to: @transferes_to, transferes_from: @transferes_from, transferes_interests: @transferes_interests, team: @team if @team
%section.lc=render 'articles', last_post: @last_post, posts: @posts if @last_post && @posts
%aside.rc=render 'aside'