//= require backend/bootstrap
//= require backend/jquery.ui
//= require backend/nmdMessages
//= require backend/bootstrap-tokenfield
//= require backend/jquery.plupload.queue
//= require backend/jquery.timepicker
//= require vendor/bootstrap-datetimepicker.min
//= require vendor/selectize/selectize.bootstrap3
//= require vendor/selectize/selectize.default
//= require dataTables/bootstrap/3/jquery.dataTables.bootstrap

h4.label.label-success{
  font-size: 14px;
  display: block;
  margin: 20px 0  10px 0;
}

#messages iframe{
  width: 240px !important;
  margin-top: 33px;
  margin-left: -167px;
  height: 346px;
}

#messages td{
  max-width: 232px;
}
.badge{
  &.green_page{
    background: #009035;
  }
  &.blue_page{
    background: #0b0060;
  }
  &.red_page{
    background: #ae0000;
  }
}

.selectize-dropdown-content .green_page{
  color: white !important;
  background: #009035 !important;
}


.selectize-input .green_page{
  text-shadow: none !important;
  border: none !important;
  background: #009035 !important;

  a.remove{
    border-left: 1px solid white !important;
  }
}

.selectize-dropdown-content .blue_page{
  background: #0b0060 !important;
  color: white !important;
}

.selectize-input .blue_page{
  text-shadow: none !important;
  border: none !important;
  background: #0b0060 !important;
  a.remove{
    border-left: 1px solid white !important;
  }
}

.selectize-dropdown-content .red_page{
  background: #ae0000 !important;
  color: white !important;
}

.white-text{
  color: white !important;
}

.person{
  height: 170px !important;
}
.person .thumbnail {
  img{
    margin-bottom: 0;
    margin-left: 17px;
  }
  p{
    margin-bottom: 0;
  }
}

.popup-errors .error {
  padding: 15px;
  background-color: #f2dede;
  border-color: #ebccd1;
  color: #a94442;
  text-align: center;
}

.popup-errors .notice {
  padding: 15px;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #3c763d;
  text-align: center;
}


@media (max-width: 768px) {
  .left-sidebar{
    display: none;
  }
}

li .form-inline{
  margin-top: 3px;
  margin-left: 10px;
}

.match{
  position: relative;
}

.match .close{
  position: absolute;
  top: 3px;
  right: 8px;
}

.table>tbody>tr.success>td{
  background: #dff0d8 !important;
}
.table>thead>tr>th.manage{
  width: 80px;
}
.author{
  margin-top: 7px; 
}
.centered{
  text-align: center;
}
.image-close-button{
  margin-top: -5px;
}
.plupload_filelist_footer{
  height: 39px !important;
}
.thumbnail_with_descr{
  margin-top: 40px !important;
  .col-md-10{
    margin-top: -26px !important;
  }
}
.handle{
  cursor: move;
}
.panel.panel-default.filter > .panel-body{
  padding: 4px !important;
}
.checkbox{
  margin-top: 30px !important;
  margin-bottom: 23px !important;
}
.w-c{
  color: white !important;
}
select[name=author-datatable_length],
#author-datatable_filter input{
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  background-color: #ffffff;
  background-image: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
#author-datatable_filter{
  label{
    width: 465px;
    float: left !important;
  }
  input{
    width: 64%;
    &:focus{
      outline: none;
    }
  }
}

@mixin with-silver-linear-gradient{
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #fff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #fff, #f2f2f2);
  background-image: -o-linear-gradient(top, #fff, #f2f2f2);
  background-image: linear-gradient(to bottom, #fff, #f2f2f2);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  background-color: #fafafa;
  background-image: -moz-linear-gradient(top, #fff, #f2f2f2);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f2f2f2));
  background-image: -webkit-linear-gradient(top, #fff, #f2f2f2);
  background-image: -o-linear-gradient(top, #fff, #f2f2f2);
  background-image: linear-gradient(to bottom, #fff, #f2f2f2);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
  border: 1px solid #d4d4d4;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
  box-shadow: 0 1px 4px rgba(0,0,0,0.065);
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
  box-shadow: 0 1px 4px rgba(0,0,0,0.065);
}

@mixin with-black-linear-gradient{
  background: rgb(125,126,125); /* Old browsers */
  background: -moz-linear-gradient(top,  rgba(125,126,125,1) 0%, rgba(14,14,14,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(125,126,125,1)), color-stop(100%,rgba(14,14,14,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom,  rgba(125,126,125,1) 0%,rgba(14,14,14,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */

}

body{
  background: #f5f5f5; 
}

hr{
  margin: 10 0;
}

.table{
  td{
    padding: 3px;
    vertical-align: middle;
    form,input, textarea, select{
      margin: 0;
    }
  }
}

.container-center{
  // background: url('backend/page-bg.png');
  padding: 60px 5px 5px 5px;
}

.container-content{

}

.fixed-left{
  position: fixed;
}

.label, .badge{
  font-weight: normal;
  text-shadow: none;
}

.label-success{
  background-color: #8bb56e;
}
.label-warning{
  background-color: #ed676e;
}
.label-important{
  background-color: #f1ae61;
}

.widget{
  background: #f5f5f5;
  padding: 0 5px 0 5px;
  .content{
    max-height: 300px; 
    overflow: auto;
  }
  table{
    border: 1px solid #DDDDDD;
    background: #FFF;
  }
}

.left-sidebar{
  max-height: 500px;
  overflow: auto;
  .sidebar-nav{
    width: 185px;
    height: 100%;
    padding: 10px 5px;
    top: 48px;
    bottom: 0;
    left:0;
    @include with-silver-linear-gradient;
    .navbar-header{
      margin-left: 15px;
      font-size: 11px;
      font-weight: bold;
      line-height: 20px;
      color: #999999;
      text-shadow: 0 1px 0 rgba(255,255,255,0.5);
      text-transform: uppercase;
    }
    a{
      color: #333;
    }
  }
}

.right-sidebar{

}

.tab-content{
  min-height: 200px;
}

.logo{
  height: 22px;
}

.muted a{
  color: #999999;
}

.well{
  border-radius: 0;
  
}

.heading{
  text-align: right;
  padding: 5px 3px;
  text-shadow: 1px 1px 1px #FFF;
  img{
    float: left;
  }
}

.nav-pills > .active > a{
  background: #DDDDDD;
}

/*
 * Быстрая очистка input
 */
span.clear-wrap{
  position: relative;
}
span.clear-wrap .clear{
  display: block;
  width: 24px;
  height: 27px;
  position: absolute;
  right: 5px;
  background: url(backend/icons/clear-left.png) no-repeat right;
  cursor: pointer;
  visibility: hidden;
}
span.clear-wrap:hover{
  .clear{
    visibility: visible;
  }
}


/*
 * Сообщение о поисковых результатах
 */
.search{
  position: relative;
  .result_message{
    position: absolute;
    top: 50px;
    width: 350px;
  }
}

/* Scrollbars ------------------------------------------------------------------------------- */

::-webkit-scrollbar {
  height: 8px;
    width: 8px;
}
 
::-webkit-scrollbar-track {
  background: rgba(0,0,0,0.1);
  box-shadow: inset 0 0 6px rgba(0,0,0,0); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0); 
    border-radius: 4px;
    -webkit-border-radius: 4px;
}
 
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  -webkit-border-radius: 4px;
    border: 1px solid rgba(255,255,255,0.15);
    background: rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0,0,0,0); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0); 
}

::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(0,0,0,0.1); 
}

/* Filters in index pages ---------------------------------------------------------------------*/
.filters{
  li{
    &.form{
      height: 30px
    }
    padding: 0 0 5px 0;
  }
  a, span.current{
    color: #555;
    font-size: 11px;
  }
  span.current {
    background: #ccc;
    padding: 5px;
    border-radius: 8px;
  }
  padding-bottom: 0;
}

/*
 * Стили для асинхронной загрузки.
 */

.upload-progress-bar {
  display: none;
  width: 250px; 
  position: relative;
  height: 22px;  
  padding-right: 2px;
  border-radius: 50px;
  color: #363; 
}

.upload-label {
  position: absolute;
  padding-left: 110px;
  z-index:2;
  font-size: 12px;
  line-height: 23px;
}

.upload-progress-bar button.btn-danger{
  position: absolute;
  width: 60px;
  top: 50px;
  left: 90px;
}

.trash-button{
  margin-top: 5px;
  width: 75%;
}

#Круг ожидания

#waiting_circle{
  
}

.waiting-circle{ 
  padding: 0;
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
}
.waiting-circle-element{
  margin: 0 2px 0 0;
  background-color: #e4e4e4; 
  border: solid 1px #f4f4f4;
  width: 10px; 
  height: 10px; 
  display: inline-block; 
  -moz-border-radius: 4px; 
  -webkit-border-radius: 4px; 
  border-radius: 4px;
}
.waiting-circle-play-0{ 
  background-color: #9EC45F; 
}
.waiting-circle-play-1{ 
  background-color: #aEd46F; 
}
.waiting-circle-play-2{ 
  background-color: #bEe47F; 
}

a.tagBox-add-tag{
  margin-top: -12px;
}

/*
 * Подписи к изображениям в фотогаллереи
 */
ul.thumbnails {
  li.thumbnail_with_descr {
    display: block;
    width: 1000px;
    .thumbnail {
      float: left;
      width: 110px;
    }
    .descr {
      float: left;
      width: 650px;
      margin: 3px 0 10px 20px;
      .span4 {
        height: 82px;
        width: 650px;
      }
    }
  }
}

.btn-link{
  color: white;
  text-decoration: none;
  &:hover{
    color: white;
    text-decoration: none;
  }
}
