.checkbox
  = f.check_box :is_published, class: 'chx_published'
  = f.label :is_published, class: 'checkbox inline'
.checkbox
  = f.check_box :is_comments_enabled, class: 'chx_published'
  = f.label :is_comments_enabled, class: 'checkbox inline'