%p Здравствуйте!
%p
  Ваш акканут на сайте "#{Setting.site_name}" был заблокирован из-за чрезмерно большого количества неудачных попыток входа.
%p
  Разблокируйте свой аккаунт, используя ссылку
  =link_to 'Разблокировать аккаунт', unlock_url(@resource, unlock_token: @token)
%p
  Если Вы не можете перейти по ссылке, то скопируйте адрес в адресную строку Вашего браузера:
  =unlock_url(@resource, unlock_token: @token)